.Header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: .6rem 2rem;
    z-index: 11;
    box-shadow: 0px 0px 2px #929191e3;
}

.Logo{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
}
.Header-options{
    list-style: none;
    display: flex;
    padding: 1rem 0rem;
    gap: 1.6rem;
    align-items: center;
}
.Header-options li{
    display: flex;
    align-items: center;
}
.Header-options li button{
    background-color: inherit;
}
.Header-options li button svg{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.Menu-btn{
    display: none;
}
.Search-Menu-btn-1{
    display: none !important;
}




@media screen and (max-width: 900px){
    .Header{
        padding: .3rem 1.8rem;
    }
    .Logo{
        font-size: 2.4rem;
        font-weight: 700;
        font-family: 'Commissioner', sans-serif;
    }
    .Header-options{
        padding: 0.8rem 0rem;
        gap: 1.4rem;
        align-items: center;
    }
    .Header-options li{
        font-size: 0.8rem;
    }
    .Header-options li button svg{
        width: 1.4rem;
        height: 1.4rem;
    }
}
@media screen and (max-width: 650px){
    
    .Header{
        padding: .2rem 1.5rem;
    }
    
    .Logo{
        font-size: 2.2rem;
        font-weight: 700;
    }
    .Header-options{
        padding: 0.6rem 0rem;
        gap: .8rem;
        align-items: center;
    }
    .Header-options li{
        font-size: 0.7rem;
    }
    .Header-options li button svg{
        width: 1.3rem;
        height: 1.3rem;
    }

}
@media screen and (max-width: 440px){
    
    .Header{
        padding: .2rem 1.5rem;
    }
    
    .Logo{
        font-size: 2.2rem;
        font-weight: 700;
    }

    .Menu-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;
    }
    .Header-options li button svg{
        width: 1.3rem;
        height: 1.3rem;
    }
    .Menu-btn svg{
        width: 2.2rem;
        height: 2rem;
    }
    .Search-Menu-btn-1{
        display: unset !important;
        width: fit-content !important;
    }
    .Search-Menu-btn-2{
        display: none !important;
    }

    .Header-options-wrapper{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: ;
        transform: translateX(100%);
    }
    .Header-options-wrapper.visible {
        transform: translateX(0%);
        background-color: rgb(0, 0, 0, 0.5);
    }

    .Header-options {
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 0.6rem 0rem;
        flex-direction: column;
        padding: 1rem;
        align-items: end;
        gap: 1.4rem;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .Header-options.visible {
        transform: translateX(0%);
    }

    .Header-options li{
        width: 90%;
        font-size: 1rem;
        justify-content: end;
    }
}